body{

margin:0;
background:#2b0033;
font-family:Arial;
color:white;
text-align:center;
overflow:hidden;

}

.container{

margin-top:80px;

}

h1{

font-size:38px;
text-shadow:0 0 20px #ff4da6;

}

.foto{

width:300px;
border-radius:20px;
margin-top:30px;

animation:flutuar 4s infinite ease-in-out;

}

@keyframes flutuar{

0%{transform:translateY(0)}
50%{transform:translateY(-15px)}
100%{transform:translateY(0)}

}

button{

margin-top:30px;
padding:15px 30px;
border:none;
border-radius:30px;
background:#ff4da6;
color:white;
font-size:18px;
cursor:pointer;

animation:pulse 1.5s infinite;

}

@keyframes pulse{

0%{transform:scale(1)}
50%{transform:scale(1.1)}
100%{transform:scale(1)}

}

#prep{

display:none;
margin-top:100px;

}

#pedidoTela{

display:none;

position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);

text-align:center;

}

#perguntaTexto{

opacity:0;
transition:1s;

}

#stars{

position:fixed;
width:100%;
height:100%;
top:0;
left:0;

}

.star{

position:absolute;
width:2px;
height:2px;
background:white;

}

#cinemaFade{

position:fixed;
width:100%;
height:100%;
background:black;
opacity:0;
pointer-events:none;
transition:1s;

}

#cinemaFade.show{

opacity:1;

}

.ring{

font-size:70px;
margin-bottom:20px;

animation:ring 3s linear infinite;

}

@keyframes ring{

from{transform:rotate(0)}
to{transform:rotate(360deg)}

}

.heart{

position:fixed;
bottom:-20px;
font-size:20px;
animation:subir 5s linear;

}

@keyframes subir{

0%{transform:translateY(0)}
100%{transform:translateY(-120vh)}

}

#player{
width:0;
height:0;
overflow:hidden;
}
.botao-continuar{

display:block;
margin:25px auto 0 auto;

}

#pedidoTela{

position:fixed;
top:0;
left:0;

width:100%;
height:100%;

display:none;

align-items:center;
justify-content:center;

background:radial-gradient(circle,#200020,#000);

}

#pedidoTela.show{

display:flex;

}
